{% extends 'home.html' %}
{% load my_tags %}
{% block content %}
<div class="col-3">
    <div class="card mb-4 box-shadow">
        <div class="card-header">
            <img class="card-img-top" src="/media/{{ object.picture }}">
            <h4 class="my-0 font-weight-normal">{{ object.title }}</h4>
        </div>
        <div class="card-body">
            <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                <li>{{ object.content }}</li>
            </ul>
            <a class="btn btn-primary" href="{% url 'catalog:blog_list' %}" role="button">Назад</a>
        </div>
        <div class="card-footer">
            Просмотры {{object.views_count}}
        </div>
    </div>
</div>
</div>
{% endblock %}